.opportunities {
    padding: 0 2rem;
}

.opportunity-container {
    margin-bottom: 2rem;
}

.list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 1rem 0;
}

h5 {
    color: var(--gray80);
    font-size: 1.5rem;
    line-height: normal;
}


button {
/*  Purple Base */
background: #A78EC3;
/* Shadow Dark · 16dp */
box-shadow: 0px 4px 12px rgba(120, 98, 188, 0.16);
border-radius: 7px;

font-size: 1rem;
width: 5rem;


/* White Base */
color: #FFFFFF;

}