<div class="opportunities">
  <div class="opportunity-container volunteer-container">
    <div class="top-header"><h5>Volunteer Opportunities</h5> <button class="btn" (click)="onNewOpportunity()">New</button></div>
    <div class="list-container">
      <app-opportunity-accordian-card
        *ngFor="let opportunity of volunteers"
        [opportunity]="opportunity"
      ></app-opportunity-accordian-card>
    </div>
  </div>
  <div class="opportunity-container employment-container">
    <div class="top-header"><h5>Employment Opportunities</h5> <button class="btn" (click)="onNewOpportunity()">New</button></div>
    <div class="list-container">
      <app-opportunity-accordian-card
        *ngFor="let opportunity of employments"
        [opportunity]="opportunity"
      ></app-opportunity-accordian-card>
    </div>
  </div>
</div>
