<div class="container">
    <div>
      <form clrForm>
        <h3>Create the Course</h3>
        <clr-input-container>
          <label>
            Course Name
            <input clrInput type="text" [(ngModel)]="title" name="title"/>
        </label>
        </clr-input-container>

        <clr-input-container >
          <label>
            Course Description
            <input clrInput type="text" [(ngModel)]="description" name="description"/>
        </label>
        </clr-input-container>

           <clr-radio-container>
            <label>Difficulty</label>
            <clr-radio-wrapper>
              <input type="radio" clrRadio name="easy" required value="easy" [(ngModel)]="level" />
              <label class = "rlabel">Easy</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
                <input type="radio" clrRadio name="difficult" required value="difficult" [(ngModel)]="level" />
                <label class = "rlabel">Difficult</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input type="radio" clrRadio name="advanced" required value="advanced" [(ngModel)]="level" />
                <label class = "rlabel">Advanced</label>
              </clr-radio-wrapper>
            <clr-control-error>Please pick a difficulty level!</clr-control-error>
          </clr-radio-container> 
        
        <button class="btn btn-primary" (click)="registerHandler()">Create Course</button>
      </form>
    </div>
  </div>