  <clr-modal [(clrModalOpen)]="basic" [clrModalSize]="'lg'">
    <h3 class="modal-title">Create a course</h3>
    <div class="modal-body">
      <form clrForm>
          <clr-input-container>
            <label>Course Name
            <input clrInput type="text" [(ngModel)]="title" name="title" required/>
            </label>
            <clr-control-error>This field is required!</clr-control-error>
          </clr-input-container>
          <clr-input-container>
            <label>Course Description
            <input clrInput type="text" [(ngModel)]="description" name="description" required/>
            </label>
            <clr-control-error>This field is required!</clr-control-error>
          </clr-input-container>
            <clr-radio-container>
              <label>Difficulty</label>
              <clr-radio-wrapper>
                <input type="radio" clrRadio name="easy" required value="easy" [(ngModel)]="level" />
                <label class = "rlabel">Easy</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                  <input type="radio" clrRadio name="difficult" required value="difficult" [(ngModel)]="level" />
                  <label class = "rlabel">Difficult</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="advanced" required value="advanced" [(ngModel)]="level" />
                  <label class = "rlabel">Advanced</label>
                </clr-radio-wrapper>
              <clr-control-error>Please pick a difficulty level!</clr-control-error>
            </clr-radio-container>
          
           
          <clr-input-container>
            <label>Tags
            <input clrInput type="text" [(ngModel)]="tags" name="tags" required/>
            </label>
            <clr-control-error>This field is required!</clr-control-error>
          </clr-input-container>

          <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
          (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
              <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                <label>Upload Course Files (optional)</label>
                <button class="btn btn-primary" (click)="openFileSelector()">Browse Files</button>

                <!-- <button type="button" (click)="openFileSelector()">Browse Files</button> -->
              </ng-template>
          </ngx-file-drop>
          <div class="upload-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name of file(s) uploaded:</th>
                    </tr>
                </thead>
                <tbody class="upload-name-style">
                    <tr *ngFor="let item of documents; let i=index">
                        <td><strong>{{ item.relativePath }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>


      </form>    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="registerHandler()" (click)="basic = false">Create Course</button>
    </div>
  </clr-modal>