*:focus {
  outline: none;
}

h6 {
  margin: 0;
  color: var(--gray70);
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


.main {
  padding: 0 2rem;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
  /* Shadow Dark · 16dp */
  box-shadow: 0px 4px 12px rgba(120, 98, 188, 0.16);

  border-radius: 7px;
  border: 0;
  font-size: 1rem;
    width: 5rem;
    height: 2.5rem;
  /* White Base */
  color: #ffffff;
}

#back-button {
  width: 5rem;
  background-color: var(--purple-base);
}

#submit-button {
  width: 7rem;
  background-color: var(--red-base);
}

.add-overlay {
  /* White Base */
  background: #ffffff;
  /* Gray · 20% */
  border: 5px solid #f5f7fa;
  box-sizing: border-box;
  /* Shadow Black Dark */
  box-shadow: 0px 8px 24px #eff3f9;
  border-radius: 40px;

  padding: 2rem;
  margin-top: 1rem;
}

#name {
  /* Rectangle 1638 */
  width: 100%;
  height: 55px;

  /* Gray · 10% */
  background: #fafafa;
  /* Gray · 20% */
  border: 3px solid #f5f7fa;
  border-radius: 11px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  padding: 0 1rem;

  /* Gray · 60% */
  color: var(--gray80);
  margin-bottom: 1rem;
}

.text-area {
  /* Rectangle 1637 */
  width: 100%;
  height: 100px;

  /* Gray · 10% */
  background: #fafafa;
  /* Gray · 20% */
  border: 3px solid #f5f7fa;
  border-radius: 11px;

  font-size: 1rem;
  font-weight: 300;

  padding: 1rem;

  /* Gray · 60% */
  color: var(--gray80);
}

.items-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2vw;
  margin-top: 1rem;
  height: max-content;
}

.difficulty {
  margin: 1.5rem 0 1rem 0;
  display: flex;
  justify-content: space-evenly;
}

.level {
  border: 2px solid;
  padding: 0.5rem;
  font-size: 0.875rem;
  border-radius: 10px;
  width: min-content;
  cursor: pointer;
  filter: opacity(37.5%);
}

.level:hover, .selected {
  filter: initial;

}

#easy {
  background-color: var(--green-smooth);
  border-color: var(--green-base);
  color: #808010;
}
#difficult {
  background-color: var(--blue2-smooth);
  border-color: var(--blue2-base);
  color: #00f;
}
#advanced {
  background-color: var(--red-base);
  border-color: #f00;
  color: #8b0000;
}

.fileUpload {
  width: 100%;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.fileUpload h6 {
  margin: 0;
  margin-top: 0.25rem;
  font-size: 1.25rem;
}

.fileUpload clr-icon {
  width: 2rem;
  height: 2rem;
}

.fileUpload p {
  margin: 0;
  font-size: 0.75rem;
  color: var(--gray60);
}

.uploadedImage {
  margin-top: 0.5rem;
}

#imageError {
  color: #f00;
}

@media(max-width: 900px) {
  .items-container {
    grid-template-columns: none;
  }
}