.modal-title {
  margin-top: 1rem;
  font-size: 1.75rem;
  color: #a78ec3;
}

input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  min-height: 2rem;
  font-size: 0.8rem;
}

.clr-control-label {
  font-size: 1rem;
}

label {
  display: flex;
  text-align: left;
  margin: 10px;
  min-width: 30rem;
  flex-direction: column;
}

.rlabel {
  font-size: 0.75rem;
}

clr-control-error {
  color: #c21d00;
}

.uploadedImage {
  width: 100%;
  text-align: center;
}
