<div class="search-bar-container">
    <h1 id="title">{{title | titlecase}}</h1>
    <div class="search-bar"><input placeholder="Search"  autocomplete="off" type="text" [(ngModel)]="searchQuery"><clr-icon shape="search"></clr-icon></div>
    <div class="bar">
        <div class="button-container">
            <!-- TODO: Replace user circle with profile image -->
            <div class="circle" (click)="goToProfile()"><clr-icon shape="user"></clr-icon></div>
            <div class="circle"><clr-icon shape="chat-bubble"></clr-icon></div>
            <div class="circle"><clr-icon shape="bell"></clr-icon></div>
            <div class="circle" (click)="logOut()"><clr-icon shape="power"></clr-icon></div>
        </div>
    </div>
</div>
