<clr-modal
  [(clrModalOpen)]="basic"
  [clrModalSize]="'xl'"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">Enroll in Courses</h3>
  <div class="modal-body">
    <div class="course-container">
      <div class="course-card box-shadow-1" *ngFor="let course of courses; index as i" (click)="onClick(course)" [class.selected]="selectedCourse === course">
        <div class="course-header">
          <h3>{{course.title}}</h3>
        </div>
        <div class="course-body">
          Teachers: <span *ngFor="let teacher of course.teachers">{{teacher}} </span> <br />
          <span class="level">Level: {{course.level | uppercase}}</span>
          <p>
            {{course.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="basic = false"
      (click)="cancel()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="basic = true"
      (click)="courseHandler()"
    >
      Enroll
    </button>
  </div>
</clr-modal>
