<div class="enroll">
  <div class="top">
    <button type="button" class="btn btn-line" (click)="cancel()">BACK</button>
    <button
      *ngIf="selectedCourse"
      type="button"
      class="btn btn-filled"
      (click)="basic = true"
      (click)="courseHandler()"
    >
      Submit
    </button>
  </div>
  <div class="body">
    <div class="course-container">
      <div
        class="course-card box-shadow-1"
        *ngFor="let course of courses; index as i"
        (click)="onClick(course)"
        [class.selected]="selectedCourse === course"
      >
        <div class="course-picture">
          <img src={{course.img}}>
          <!-- COURSE IMAGE GOES HERE -->
          <!-- <clr-icon shape="picture"></clr-icon> -->
        </div>
        <div class="course-header">
          <h3>{{ course.name }}</h3>
        </div>
        <div class="course-body">
          Teacher(s):
          <span>{{ course.teachers }} </span>
          <br />
          <span class="level">Level: {{ course.level | uppercase }}</span>
          <p>
            {{ course.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>