<div class="courses-container">
  <h2>Your Classes</h2>
  <div class="courses">
    <div *ngFor="let course of courses" class="course-card">
      <div (click)="onClickDropCourse(course)" *ngIf="this.user.type === 'IL'">
        <clr-icon shape="trash" id="dropcourse"></clr-icon>
      </div>
      <div class="course-image plus">
        <img [src]="course.img">
      </div>
      <!-- link with router using course._id -->
      <!-- add image of course -->
      {{ course.name }}
    </div>

    <div class="course-card" (click)="addNewCourse()" id="new-course">
      <div class="course-image plus">
        <clr-icon shape="plus"></clr-icon>
      </div>
      Add a New Course
    </div>
  </div>
</div>
