<div class="courses-container">
  <h2>Your Classes</h2>
  <div class="courses">
    <!-- This is a dummy course, it must be replaced with *ngFor="let course of user.classes" -->
    <div *ngFor="let course of courses" class="course-card">
      <div (click)="onClick(course)">
        <img src="../../../assets/dropCourse/trashcan.png" id="dropcourse">
      </div>
      <div class="course-image plus">
        <clr-icon shape="image"></clr-icon>
      </div>
      <!-- link with router using course._id -->
      <!-- add image of course -->
      <!-- why is course.name underlined?  -->
      {{ course.name }}
    </div>

    <div class="course-card" (click)="addNewCourse()" id="new-course">
      <div class="course-image plus">
        <clr-icon shape="plus"></clr-icon>
      </div>
      Add a New Course
    </div>
  </div>
</div>
