.main-container .content-area {
  padding: 0;
}

.dashboard {
  padding-left: 2rem;
}

#logo {
  width: 5.8125rem;
  height: 6rem;
  margin-left: 4.1666666667rem;
  margin-bottom: 1.125rem;
  margin-top: 1.125rem;
  cursor: pointer;
}

clr-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  transform: translateY(-1px) translateX(-1px);
}

a {
  margin: 1rem 0;
  cursor: pointer;
  transform: scaleY(1.5);
}

a.active, a:hover {
  box-shadow: 0px 16px 48px rgba(120, 98, 188, 0.16);
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
  transform: scaleY(1.5);
}

clr-vertical-nav {
  background: #ffffff;
  filter: drop-shadow(0px 8px 24px #eff3f9);
  box-shadow: 0px 8px 16px rgba(120, 98, 188, 0.2);
  border-radius: 0px 20px 20px 0px;
  color: var(--gray70);
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.44px;
  width: 15rem;
}

.home-page-footer {
  position: initial;
}

app-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}