<div class="main-container">
  <div class="content-container">
    <clr-vertical-nav
      [clrVerticalNavCollapsible]="true"
      class="nav-trigger--bottom"
      *ngIf="shouldNavShow()"
    >
      <img src="../assets/uLogo.svg" id="logo"  routerLink="./about" routerLinkActive="active"/>
      <a clrVerticalNavLink routerLink="./dashboard" routerLinkActive="active"
        ><clr-icon shape="home"></clr-icon> <span>Dashboard</span></a
      >
      <a
        *ngIf="user.type !== 'IL'"
        clrVerticalNavLink
        routerLink="./opportunities"
        routerLinkActive="active"
        ><clr-icon shape="user"></clr-icon> <span>Opportunities</span></a
      >
      <a *ngIf="user.type !== 'SI'" clrVerticalNavLink
        ><clr-icon shape="calendar"></clr-icon> <span>Scheduling</span></a
      >
      <a
        *ngIf="user.type !== 'SI'"
        clrVerticalNavLink
        routerLink="./course"
        routerLinkActive="active"
        ><clr-icon shape="book"></clr-icon> <span>Courses</span></a
      >
      <a *ngIf="user.type !== 'SI'" clrVerticalNavLink
        ><clr-icon shape="talk-bubbles"></clr-icon> <span>Community</span></a
      >
      <a *ngIf="user.type !== 'SI'" clrVerticalNavLink
        ><clr-icon shape="envelope"></clr-icon> <span>Mailbox</span></a
      >
      <a
        *ngIf="user.type !== 'SI'"
        clrVerticalNavLink
        routerLink="./socialinitiatives"
        routerLinkActive="active"
        ><clr-icon shape="employee-group"></clr-icon>
        <span>Social Initiatives</span></a
      >
      <a *ngIf="user.type === 'IC'" clrVerticalNavLink
        ><clr-icon shape="thumbs-up"></clr-icon>
        <span>Reviews & Feedback</span></a
      >
      <a clrVerticalNavLink routerLink="./settings" routerLinkActive="active"
        ><clr-icon shape="cog"></clr-icon> <span>Settings</span></a
      >
    </clr-vertical-nav>
    <div class="content-area">
      <app-front-page-header *ngIf="shouldHeaderShow()"></app-front-page-header>
      <app-global-search *ngIf="shouldNavShow()"></app-global-search>
      <router-outlet></router-outlet>
      <app-footer
        [ngClass]="{ 'home-page-footer': isHomePages() }"
        *ngIf="shouldFooterShow()"
      ></app-footer>
    </div>
  </div>
</div>
