.main-container .content-area {
  padding: 0;
}

.dashboard {
  padding-left: 2rem;
}

#logo {
  width: 7.75rem;
  height: 8rem;
  margin-left: 3.125rem;
  margin-bottom: 1.5rem;
}

clr-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
}

a {
  margin: 0.75rem 0;
}

a.active {
  box-shadow: 0px 16px 48px rgba(120, 98, 188, 0.16);
  border-radius: 0px 10px 10px 0px;
  margin-right: 10%;
}

clr-vertical-nav {
  background: #ffffff;
  filter: drop-shadow(0px 8px 24px #eff3f9);
  box-shadow: 0px 8px 16px rgba(120, 98, 188, 0.2);
  border-radius: 0px 20px 20px 0px;
  color: var(--gray70);
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.44px;
  width: 15rem;
}

app-footer{
  /* position: absolute;
  bottom: 0; */
}
