<div class="loading" *ngIf="loading">
  <span class="spinner"></span>
</div>

<div class="page" *ngIf="!loading">
  <div class="outer" *ngIf="course && assessment">
    <div
      class="courseimage"
      style="background-image: url('{{ course.img }}')"
    ></div>
    <h4 id="title2">{{ assessment.name }}</h4>
  </div>

  <button type="button" id="back-button" class="btn button" (click)="back()">
    Back
  </button>

  <div class="box-shadow-2" id="add1">
    <h6 class="child">Name</h6>
    <h6 class="child">Submission</h6>
    <h6 class="child">Evaluation</h6>
  </div>
  <!-- *ngFor="let assess of assessArr" -->
  <div
    class="box-shadow-2"
    id="addout"
    *ngFor="let submission of assessment.studentSubmissions"
  >
    <div id="add2">
      <div class="content">
        <span class="h6">{{ submission.studentId }}</span>
      </div>

      <div class="content">
        <div *ngFor="let file of submission.files">
          <button class="link"
            *ngIf="file"
            (click)="goToSubmission( submission.studentId, file)"
            >{{ file.name }}</button
          >
        </div>
      </div>

      <div class="content">
        <div *ngIf="submission.mark > 0" class="markLabel"> Current Mark: {{ submission.mark }} </div>
        <div *ngIf="submission.mark < 0" class="markLabel"> Current Mark: Ungraded </div>

        <button type="button" class="btn eval-button" id="mark-student-btn" (click)="openMarkModel(submission.studentId, submission.mark)">
          Update Student Mark
        </button>
      </div>
    </div>
  </div>
</div>

<clr-modal
  [(clrModalOpen)]="markStudentModel"
  [clrModalSize]="'lg'"
  [clrModalClosable]="false"
>
  <h3 class="modal-title" *ngIf="assessment">
    {{ studentId }}'s submission to {{ assessment.name }} </h3>
  <div class="modal-body">
    <form clrForm>
      <clr-input-container>
        <label
          >Student Mark
          <input
            clrInput
            type="number"
            placeholder="{{ mark }}"
            [(ngModel)]="mark"
            name="mark"
            required
          />
        </label>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-ok btn-outline" (click)="cancel()">
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-ok btn-outline btn-cancel"
      (click)="registerHandler()"
    >
      Update Mark
    </button>
  </div>
</clr-modal>