.page{
  display: flex;
}

.imagetemp{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

#image{
  width: inherit;
  height: inherit;
}

.clr-form-control{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
}

#MainTitle{
  padding-bottom: 1rem;
}

.clr-form-control{
  display: flex;
}

.line{
  flex: 1;
  display: flex;
}

.labelField{
  display: flex;
  flex: 1;
}

.question{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.buttonsflex{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.skipbutton{
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.submitbutton{
  padding-right: 2rem;
}
