<div class="clr-form-control">
    <h1>Welcome to U-Impactify!</h1>
    <hr>
    <hr>
    <label id="title" class="clr-control-label">Check all that apply. Do you identify as a:</label>
    <div class="clr-control-container">
        <div class="clr-checkbox-wrapper">
            <input type="checkbox" id="vertical-checkbox1" name="checkbox-full" value="option1" class="clr-checkbox" />
            <label for="vertical-checkbox1" class="clr-control-label">Coach</label>
        </div>
        <div class="clr-checkbox-wrapper">
            <input type="checkbox" id="vertical-checkbox2" name="checkbox-full" value="option2" class="clr-checkbox" />
            <label for="vertical-checkbox2" class="clr-control-label">Teacher</label>
        </div>
        <div class="clr-checkbox-wrapper">
            <input type="checkbox" id="vertical-checkbox3" name="checkbox-full" value="option3" class="clr-checkbox" />
            <label for="vertical-checkbox3" class="clr-control-label">Facilitator</label>
        </div>
        <div class="clr-checkbox-wrapper" id="labelField">
            <input type="checkbox" id="vertical-checkbox4" name="checkbox-full" value="option4" class="clr-checkbox" />
            <label id="labelOne" for="vertical-checkbox4" class="clr-control-label">Other: Please enter:</label>

            <form>
                <input clrInput type="text" name="example" />
            </form>

            
        </div>


    </div>

    <div id="labelField2">
        <form>
        <input clrInput type="text" name="example" />
        </form>
    </div>



    <hr>
    <hr>
    <label id="title" class="clr-control-label">What do you need U-Impactify for?</label>
    <div class="clr-control-container">
        <div class="clr-checkbox-wrapper">
            <input type="checkbox" id="vertical-checkbox5" name="checkbox-full" value="option1" class="clr-checkbox">
            <label for="vertical-checkbox5" class="clr-control-label">Conduct Lessons Live</label>
        </div>
        <div class="clr-checkbox-wrapper">
            <input type="checkbox" id="vertical-checkbox6" name="checkbox-full" value="option2" class="clr-checkbox">
            <label for="vertical-checkbox6" class="clr-control-label">Handle Administrative Tasks</label>
        </div>
        <div class="clr-checkbox-wrapper">
            <input type="checkbox" id="vertical-checkbox7" name="checkbox-full" value="option3" class="clr-checkbox">
            <label for="vertical-checkbox7" class="clr-control-label">Plan my lessons and sessions</label>
        </div>
    </div>
    <button class="btn btn-primary" id="submitlocation">Submit</button>






    <div class="image">
        <img src="../../../assets/questionairePic.JPG">
    </div>



</div>