<div *ngIf="!valid" id="message">Error 404: This User Does Not Exist</div>

<div *ngIf="valid" class="dashboard">
  <div class="card">
    <h6>{{ this.username }}</h6>
    <div class="clr-row">
      <div class="sub-card">
        <div class="heading">Photo</div>
        <div class="sub-heading">
          <div class="row">
            <clr-icon class="image" shape="image"></clr-icon>
          </div>
        </div>
      </div>
      <div class="sub-card">
        <div class="heading">Linked Accounts</div>
        <div class="sub-heading">placeholder</div>
      </div>
    </div>
    <div class="clr-row">
      <div class="sub-card">
        <div class="heading">Name</div>
        <div class="sub-heading">name</div>
      </div>
      <div class="sub-card">
        <div class="heading">User Name</div>
        <div class="sub-heading">{{ this.username }}</div>
      </div>
    </div>
    <div class="clr-row">
      <div class="sub-card">
        <div class="heading">Email</div>
        <div class="sub-heading">{{ this.email }}</div>
      </div>
      <div class="sub-card">
        <div class="heading">Phone Number</div>
        <div class="sub-heading">number</div>
      </div>
    </div>
  </div>
</div>
