h6 {
  font-weight: 600;
  font-size: 31.25px;
  line-height: 43px;
  letter-spacing: 0.25px;
  color: #a78ec3;
}

.card {
  background: #ffffff;
  box-shadow: 0px 8px 24px #eff3f9;
  border-radius: 25px;
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.sub-card {
  margin: 1rem;
  padding: 10px;
  /* background-color: antiquewhite; */
  width: 40%;
  flex-grow: 2;
  min-height: 3rem;
}

.heading {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #919699;
  opacity: 0.6;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: #3e4345;
  margin-left: 10px;
}

.dashboard {
  padding-left: 2rem;
  padding-right: 2rem;
}

.image {
  min-width: 150px;
  min-height: 150px;
}

.btn {
  background: var(--purple-base);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
}

.btn:hover {
  background: var(--purple-smooth);
  color: var(--purple-base);
}

clr-icon{
  margin-right: 10px;
}

@media (max-width: 1100px) {
  .inner {
    grid-template-columns: auto;
    justify-content: center;
    width: 100%;
  }

  .info {
    text-align: justify;
  }

  .btn-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    flex-direction: column;
  }

  .sub-card {
    flex-grow: 1;
  }
}
