<div
  class="container box-shadow-1"
  [ngClass]="{
    'container-open-employment': open && type === 'employment',
    'container-open-volunteer': open && type === 'volunteer',
    'applied': user.type === 'IC' && opportunity.applicants.includes(user._id)
  }"
  *ngIf="opportunity"
>
  <div
    class="top-header"
    [ngClass]="{
      'top-header-open-employment': open && type === 'employment',
      'top-header-open-volunteer': open && type === 'volunteer'
    }"
  >
    <div class="wrapper">
      <h5>{{ opportunity.name }}</h5>
      <p>{{ opportunity.description }}</p>
    </div>
    <div class="caret-button" (click)="open = !open">
      <clr-icon shape="angle" [ngClass]="{ closed: !open }"></clr-icon>
    </div>
  </div>
  <div class="body" *ngIf="open">
    <div class="info-container">
      <div class="info">
        <h6>Date Posted</h6>
        <p>{{ opportunity.datePosted | date: "shortDate" }}</p>
      </div>
      <div class="info">
        <h6>Date Needed</h6>
        <p>{{ opportunity.dateNeeded | date: "shortDate" }}</p>
      </div>
      <div class="info">
        <h6>Location</h6>
        <p>{{ opportunity.location }}</p>
      </div>
      <div class="info" *ngIf="opportunity.salary">
        <h6>Salary</h6>
        <p>{{ opportunity.salary | currency }}/hr</p>
      </div>
      <div class="info">
        <h6>Looking for</h6>
        <p>
          {{ opportunity.numberOfHires }}
          <span *ngIf="opportunity.numberOfHires === 1">person</span
          ><span *ngIf="opportunity.numberOfHires > 1">people</span>
        </p>
      </div>
    </div>
    <div class="list-container" id="employer">
      <h6>Employer</h6>
      <div class="applicant">
        <div class="user-profile-icon">
          <clr-icon shape="user"></clr-icon>
        </div>
        <p>{{ opportunity.recruiter }}</p>
      </div>
    </div>
    <div class="list-container">
      <h6>Responsibilites</h6>
      <ul>
        <li *ngFor="let res of opportunity.responsibilites">{{ res }}</li>
      </ul>
    </div>
    <div class="list-container">
      <h6>Requirements</h6>
      <ul>
        <li *ngFor="let req of opportunity.requirements">{{ req }}</li>
      </ul>
    </div>
    <div class="applicants-container" *ngIf="user.type === 'SI' && user._id === opportunity.recruiter &&opportunity.applicants.length">
      <h6>Applicants - Click to Hire</h6>
      <div class="applicants">
        <div class="applicant" *ngFor="let applicant of opportunity.applicants">
          <div class="user-profile-icon">
            <clr-icon shape="user"></clr-icon>
          </div>
          <p>{{ applicant }}</p>
        </div>
      </div>
    </div>
    <div class="applied-container" *ngIf="user.type === 'IC' && opportunity.applicants.includes(user._id)"><p>You have already applied for this position</p></div>
    <div class="applied-container" *ngIf="user.type === 'IC' && !opportunity.applicants.includes(user._id)"><button class="btn" (click)="onClickApply()" [ngClass]="{'btn-outline-success': opportunity.type === 'volunteer', 'btn-outline-danger': opportunity.type === 'employment'}">Apply For Hire</button></div>
  </div>
</div>