<div *ngIf="!loading && valid" class="container">
  <div class="image">
    <div
      class="courseimage"
      style="background-image: url('{{ course.img }}')"
    ></div>
    <h4 id="title">{{ course.name }}</h4>
  </div>

  <h3>Below is a table of all the students that completed the survey so far for this course</h3>
  <table class="table">
    <thead>
      <tr>
        <th class="left">Student Name</th>
        <th class="left">
          Describe the typical course workload in a week span
        </th>
        <th class="left">Would you recommend this course to others?</th>
        <th class="left">
          Are you more interested in this subject after taking this course?
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let survey of course.instructorReview">
        <td class="left">{{ survey._id }}</td>
        <td class="left">{{ survey.surveyAnswers[5] }}</td>
        <td class="left">{{ survey.surveyAnswers[6] }}</td>
        <td class="left">{{ survey.surveyAnswers[7] }}</td>
      </tr>
    </tbody>
  </table>
</div>
