<div class="bg">
  <div class="title">
    <h3>The Giving Garden</h3>
  </div>
  <div class="row">
    <div>
      <img src="../../../assets/giving_garden/givinggarden.svg" />
    </div>

    <div class="col">
      <div class="rec">
        <img
          class="question"
          src="../../../assets/giving_garden/purple_question.svg"
        />
        Once you complete a course, you may volunteer/work with our social
        initiative partners.
      </div>
      <div class="rec">
        <img
          class="question"
          src="../../../assets/giving_garden/purple_question.svg"
        />
        The Giving Garden is a gallery illustrating how much have you
        volunteered or work with our social initiative partners.
      </div>
    </div>
  </div>

  <p>giving-garden works!</p>
</div>
