.bg {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.donate-modal-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner_modal {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-right: 15%;
  padding-left: 10%;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.const_col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding-left: 1vh;
}

img {
  margin: 2rem;
  height: 100%;
  width: 100%;
}

button {
  margin-left: 2rem;
  margin-right: 2rem;
}

.question {
  height: 2rem;
  width: 2rem;
  margin: 0rem;
  padding-right: 0.5rem;
}

.modal_img {
  height: 12rem;
  width: 12rem;
  margin: 0rem;
}

.rec {
  width: 15rem;
  height: 7rem;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(120, 98, 188, 0.2);
  border-radius: 15px;
  margin: 1rem;
  margin-left: 2rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.si_card {
  transition: 0.3s;
  background: #ffffff;
  border-radius: 8px;
  width: 17rem;
  height: 14rem;
  padding-top: 0;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.si_card:hover {
  transition: 0.3s;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
}

.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.si_img {
  height: 50%;
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (max-width: 1200px) {
  .row {
    flex-direction: column;
  }

  .bg {
    padding-right: 4rem;
  }

  img {
    margin-right: 0rem;
  }

  .col {
    flex-direction: row;
  }

  button {
    margin-bottom: 2rem;
  }

  .rec {
    margin: 1rem;
    margin-left: 5rem;
    margin-right: 1rem;
  }

  .si_card {
    height: 17rem;
  }
}

.btn-ok {
  background: #ffffff;
  opacity: 0.48;
  border: 1px solid var(--purple-base);
  box-shadow: 0px 8px 16px rgba(120, 98, 188, 0.2);
  border-radius: 7px;
  height: 2.5rem;
  font-size: initial;
}

.btn:hover {
  background: var(--purple-smooth);
}

.btn-cancel {
  color: red;
}
