<div class="pricing-container">
  <div class="top-header">
    <h4>Learn, Grow and Give. Free for 1 month.</h4>
    <p>The power of U-Impactify. Cancel anytime and anywhere, also free.</p>
  </div>
  <div class="prices-container">
    <div class="price" id="individuals">
      <h5>Individuals</h5>
      <p>Starting at</p>
      CA$34.99/month
    </div>
    <div class="price" id="organizations">
      <h5>Organizations</h5>
      <p>Starting at</p>
      CA$288/year
    </div>
  </div>
  <div class="info-container">
    <h4>All Plans Include</h4>
    <div class="plans">
      <div class="included-plan">
        <clr-icon class="is-solid" shape="success-standard"></clr-icon>
        <p>Access expert-led courses</p>
      </div>
      <div class="included-plan">
        <clr-icon class="is-solid" shape="success-standard"></clr-icon>
        <p>Get personalized course recommendations</p>
      </div>
      <div class="included-plan">
        <clr-icon class="is-solid" shape="success-standard"></clr-icon>
        <p>Watch anytime, anywhere on your computer</p>
      </div>
      <div class="included-plan">
        <clr-icon class="is-solid" shape="success-standard"></clr-icon>
        <p>Earn a certificates after completing a course</p>
      </div>
      <div class="included-plan">
        <clr-icon class="is-solid" shape="success-standard"></clr-icon>
        <p>Practice with exercise files and quizzess</p>
      </div>
      <div class="included-plan">
        <clr-icon class="is-solid" shape="success-standard"></clr-icon>
        <p>Use project files to practice what you learn</p>
      </div>
      <div class="included-plan">
        <clr-icon class="is-solid" shape="success-standard"></clr-icon>
        <p>Download exercise files to practice online, and offline</p>
      </div>
    </div>
  </div>
  <div class="questions-container">
    <h4>Frequently Asked Questions</h4>
    <clr-accordion [clrAccordionMultiPanel]="true">
      <clr-accordion-panel>
        <clr-accordion-title>What happens at the end of my free trial?</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>After your free trial, you automatically will be charged for a subscription on a monthly or annual basis (at your choice) unless you cancel.</clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title>How will you bill me?</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>We offer both monthly and annual billing. Depending on what option you choose, your subscription will be renewed at the end of each month or at the end of each year. If you choose to pay annually, you’ll save up to 29% compared to paying monthly.</clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title>Can I change or cancel my plan later on?</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Yes. You can downgrade or cancel anytime from your settings page. If you cancel, you will lose your Premium features at the end of your billing cycle.</clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
  </div>
</div>
