:host {
  padding-right: 2rem;
}

.card {
  background: #ffffff;
  box-shadow: 0px 8px 24px #eff3f9;
  border-radius: 20px;
  padding: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

clr-control-error {
  color: #c21d00;
}

label {
  margin: 2rem;
}

h2 {
  line-height: initial;
  font-size: 2rem;
}

.right {
  margin-right: 2rem;
}

.inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  align-items: center;
}

.profile-pic {
  width: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20rem;
  border-radius: 20px;
  margin: 1rem;
}

.no-image {
  background-color: var(--gray20);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--purple-smooth);
}

.no-image clr-icon {
  width: 5rem;
  height: 5rem;
  color: var(--gray40);
}

.info {
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #7a7a7a;
}

.value {
  font-size: 1.125rem;
  font-weight: 300;
}

.btn-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  height: 75%;
}

.btn-purple {
  background: #ffffff;
  opacity: 0.48;
  border: 1px solid var(--purple-base);
  box-shadow: 0px 8px 16px rgba(120, 98, 188, 0.2);
  border-radius: 7px;
  height: 2.5rem;
  font-size: initial;
}

.btn-ok {
  background: #ffffff;
  opacity: 0.48;
  border: 1px solid var(--purple-base);
  box-shadow: 0px 8px 16px rgba(120, 98, 188, 0.2);
  border-radius: 7px;
  height: 2.5rem;
  font-size: initial;
}

.btn:hover {
  background: var(--purple-smooth);
}

.btn-cancel {
  color: red;
}

@media (max-width: 1100px) {
  .edit_img {
    padding-top: 0.5rem;
    padding-right: 2rem;
  }

  .card {
    align-items: center;
    text-align: center;
  }

  .inner {
    grid-template-columns: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  .info {
    margin: 1rem;
    text-align: justify;
  }
}

.edit {
  justify-content: center;
  background: var(--purple-base);
  color: #fff;
  box-shadow: 0px 8px 24px rgba(120, 98, 188, 0.16);
  border-radius: 7px;
}

.side {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-evenly;
}

.imageError {
  color: #c21d00;
}

.col {
  display: flex;
  flex-direction: column;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.add {
  white-space: nowrap;
}

input {
  width: 15rem;
}

.modal-dialog {
  background-color: red;
}

#si {
  display: flex;
}

#donateButton {
  justify-content: center;
  background: var(--purple-base);
  color: #fff;
  box-shadow: 0px 8px 24px rgba(120, 98, 188, 0.16);
  border-radius: 7px;
}

#donateButton:hover {
  background: var(--purple-smooth);
  color: var(--gray-60);
}

.popup {
  content: center;
}

.modal_img {
  height: 20rem;
  width: 20rem;
  margin: 0rem;
}

.modal-body {
  align-items: center;
}

.col {
  align-items: center;
}
