<div class="dashboard">
  <div class="card">
    <div class="profile-container">
      <div class="inner">
        <div *ngIf="sameUser" (click)="changePicture()" class="profile-pic">
          <img
            *ngIf="profileImage && profileImage.length; else icon"
            [src]="profileImage"
            width="400"
          />

          <ng-template #icon>
            <clr-icon class="no_img" shape="image"></clr-icon>
          </ng-template>

          <div class="edit_img">
            <clr-icon shape="pencil"></clr-icon>
          </div>
        </div>

        <div *ngIf="!sameUser">
          <img
            *ngIf="profileImage === ''"
            src="{{ profileImage }}"
            width="400"
            alt=""
          />
        </div>

        <div class="info">
          <div>
            Registered Name: <span class="value">{{ user._id }}</span>
          </div>
          <div>
            Registered Number:
            <span class="value">{{ registeredNumber }}</span>
          </div>
          <div>
            Business Number: <span class="value">{{ businessNumber }}</span>
          </div>
          <div>
            Location:
            <span class="value">{{ location }}</span>
          </div>
          <div>
            Hours: <span class="value">{{ hours }}</span>
          </div>
          <div>
            Phone: <span class="value">{{ phone }}</span>
          </div>
          <div>
            Email: <span class="value">{{ email }}</span>
          </div>
        </div>

        <div class="btn-container">
          <button class="btn btn-purple" (click)="onDonate()" id="donateButton">
            Donate Now
          </button>
          <button class="btn btn-purple">Visit Our Website</button>
          <button class="btn btn-purple">Email Us</button>
          <button
            *ngIf="sameUser"
            (click)="basic = true"
            class="btn edit btn-purple"
          >
            {{ current }}
          </button>
        </div>
      </div>
      <!-- Here should go the Tabs Container as shown in the mockup -->
    </div>
  </div>
</div>

<!-- EDIT MODAL -->

<clr-modal *ngIf="sameUser" [(clrModalOpen)]="basic" [clrModalSize]="'l'">
  <div class="modal-body">
    <h3>Edit your Profile!</h3>
    <form clrForm>
      <clr-input-container class="side">
        <label class="add">Registered Number</label>
        <input
          clrInput
          placeholder="{{ registeredNumber }}"
          class="addLeft"
          name="name"
          [(ngModel)]="registeredNumber"
        />
      </clr-input-container>
    </form>
    <form clrForm>
      <clr-input-container class="side">
        <label class="add">Business Number</label>
        <input
          clrInput
          placeholder="{{ businessNumber }}"
          class="addLeft"
          name="name"
          [(ngModel)]="businessNumber"
        />
      </clr-input-container>
    </form>
    <form clrForm>
      <clr-input-container class="side">
        <label class="add">Location</label>
        <input
          clrInput
          placeholder="{{ location }}"
          class="addLeft"
          name="name"
          [(ngModel)]="location"
        />
      </clr-input-container>
    </form>
    <form clrForm>
      <clr-input-container class="side">
        <label class="add">Hours</label>
        <input
          clrInput
          placeholder="{{ hours }}"
          class="addLeft"
          name="name"
          [(ngModel)]="hours"
        />
      </clr-input-container>
    </form>
    <form clrForm>
      <clr-input-container class="side">
        <label class="add">Phone Number</label>
        <input
          clrInput
          placeholder="{{ phone }}"
          class="addLeft"
          name="name"
          [(ngModel)]="phone"
        />
      </clr-input-container>
    </form>
    <form clrForm>
      <clr-input-container class="side">
        <label class="add">Email Address</label>
        <input
          clrInput
          placeholder="{{ email }}"
          class="addLeft"
          name="name"
          [(ngModel)]="email"
        />
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-ok btn-outline btn-cancel"
      (click)="basic = false"
      (click)="doNotChange()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-ok btn-outline"
      (click)="basic = false"
      (click)="add()"
    >
      Ok
    </button>
  </div>
</clr-modal>

<!-- DONATE MODAL -->

<clr-modal class="popup" [(clrModalOpen)]="opened" [clrModalSize]="'lg'">
  <div class="modal-body">
    <h3 class="modal-title">I want to contribute to {{ socialId }}</h3>
    <div class="row inner_modal">
      <div class="col">
        <div>
          <p>How much will you like to donate?</p>
        </div>
        <div>
          <form class="clr-form">
            $
            <input
              [(ngModel)]="amount"
              [ngModelOptions]="{ standalone: true }"
              type="text"
              id="basic"
              placeholder="100.00"
              class="clr-input"
            />
          </form>
        </div>
      </div>
      <div>
        <img
          class="modal_img"
          src="../../../assets/giving_garden/donate_si.svg"
        />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-ok btn-outline"
      (click)="opened = false"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-ok btn-outline btn-cancel"
      (click)="onOkay()"
      (click)="opened = false"
    >
      Ok
    </button>
  </div>
</clr-modal>

<!-- CHANGE IMAGE MODAL -->

<clr-modal [(clrModalOpen)]="changeImage" [clrModalSize]="'lg'">
  <div class="modal-body">
    <ngx-file-drop
      dropZoneLabel="Drop files here"
      (onFileDrop)="droppedProfileImage($event)"
      accept=".jpg, .png, .jpeg"
    >
      <ng-template
        ngx-file-drop-content-tmp
        let-openFileSelector="openFileSelector"
      >
        <label>Upload Course Image (.jpg and .png)</label>
        <button
          class="btn btn-primary right"
          style="height: auto"
          (click)="openFileSelector()"
        >
          Browse Files
        </button>
      </ng-template>
    </ngx-file-drop>
    <div class="uploadedImage imageError">
      {{ imageError }}
    </div>
    <div class="uploadedImage" *ngIf="img[0]">
      Uploaded "{{ img[0].fileEntry.name }}"
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="changeImage = false">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="onChangeImage()">
      Ok
    </button>
  </div>
</clr-modal>
