.host {
  padding-right: 2rem;
}

.card {
  background: #ffffff;
  box-shadow: 0px 8px 24px #eff3f9;
  border-radius: 20px;
  padding: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}

clr-control-error {
  color: #c21d00;
}

h2 {
  line-height: initial;
  font-size: 2rem;
}

.right {
  margin-right: 2rem;
}

.inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  align-items: center;
}

.profile-pic {
  width: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 20rem;
  border-radius: 20px;
  margin: 1rem;
}

.modal-body {
  align-items: center;
}

.no-image {
  background-color: var(--gray20);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--purple-smooth);
}

.no-image clr-icon {
  width: 5rem;
  height: 5rem;
  color: var(--gray40);
}

.info {
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #7a7a7a;
}

.value {
  font-size: 1.125rem;
  font-weight: 300;
}

.btn-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  height: 75%;
  align-items: center;
}

.image-upload {
  margin-top: 2rem;
}

.edit-profile {
  padding-bottom: 2rem;
}

.edit-profile * {
  width: 100%;
  padding: 0 1rem;
}

.edit-profile h3 {
  display: flex;
  justify-content: center;
}

.profile-form clr-input-container label {
  padding: 0;
  font-size: 0.875rem;
  display: flex;
  width: 10rem;
}

.profile-form clr-input-container input {
  font-size: 1rem !important;
}

.profile-form {
  margin-top: 1rem;
}

.btn-purple {
  background: #ffffff;
  opacity: 0.48;
  border: 1px solid var(--purple-base);
  box-shadow: 0px 8px 16px rgba(120, 98, 188, 0.2);
  border-radius: 7px;
  height: 2.5rem;
  font-size: initial;
}

.btn-ok {
  background: #ffffff;
  opacity: 0.48;
  border: 1px solid var(--purple-base);
  box-shadow: 0px 8px 16px rgba(120, 98, 188, 0.2);
  border-radius: 7px;
  height: 2.5rem;
  font-size: initial;
}

.btn:hover {
  background: var(--purple-smooth);
}

.btn-cancel {
  color: red;
}

@media (max-width: 1100px) {
  .inner {
    grid-template-columns: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .info {
    margin: 1rem;
    width: 100%;
    padding-left: 5vw;
  }

  .btn-container {
    width: 100%;
    padding-left: 25%;
  }
}

.edit {
  justify-content: center;
  background: var(--purple-base);
  color: #fff;
  box-shadow: 0px 8px 24px rgba(120, 98, 188, 0.16);
  border-radius: 7px;
}

.side {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-evenly;
}

.imageError {
  color: #c21d00;
  display: flex;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.add {
  white-space: nowrap;
}

input {
  width: 15rem;
}

.modal-dialog {
  background-color: red;
}

#si {
  display: flex;
}

#donateButton {
  justify-content: center;
  background: var(--purple-base);
  color: #fff;
  box-shadow: 0px 8px 24px rgba(120, 98, 188, 0.16);
  border-radius: 7px;
}

#donateButton:hover {
  background: var(--purple-smooth);
  color: var(--gray-60);
}

.popup {
  content: center;
}

.modal_img {
  height: 20rem;
  width: 20rem;
  margin: 0rem;
}

.modal-body {
  align-items: center;
}

.col {
  align-items: center;
}

clr-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
}

.add-overlay {
  /* White Base */
  background: #ffffff;
  /* Gray · 20% */
  border: 5px solid #f5f7fa;
  box-sizing: border-box;
  /* Shadow Black Dark */
  box-shadow: 0px 8px 24px #eff3f9;
  border-radius: 40px;
  margin-bottom: 1rem;
  padding: 2rem;
  margin-top: 1rem;
}

.text-area {
  /* Rectangle 1637 */
  width: 80%;
  height: 50px;

  /* Gray · 10% */
  background: #fafafa;
  /* Gray · 20% */
  border: 3px solid #f5f7fa;
  border-radius: 11px;

  font-size: 1rem;
  font-weight: 300;

  padding: 1rem;

  /* Gray · 60% */
  color: var(--gray80);
}

.fileUpload {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  padding: 1rem;
}

.fileUpload h6 {
  margin: 0;
  margin-top: 0.25rem;
  font-size: 1.25rem;
}

.fileUpload clr-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.fileUpload p {
  margin: 0;
  font-size: 0.75rem;
  color: var(--gray60);
}

.uploadedImage {
  width: 100%;
  text-align: center;
}

.h3ok {
  padding: 0rem;
  color: rgb(112, 112, 112);
}

.error {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  color: rgb(248, 144, 144);
}

.modal-title {
  margin-top: 1rem;
  font-size: 1.75rem;
  color: #a78ec3;
}

.modal-body,
#rating,
.anon-review,
.clr-form,
.clr-control-container,
.clr-textarea {
  width: 100%;
}

.position-top {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex-direction: row;
}

strong {
  font-size: large;
}
