.card {
  background: #ffffff;
  box-shadow: 0px 8px 24px #eff3f9;
  border-radius: 25px;
  padding: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dashboard {
  padding-right: 2rem;
}

clr-control-error {
  color: #c21d00;
}

label {
  margin: 2rem;
}

h2 {
  line-height: initial;
  font-size: 2rem;
}

.right {
  margin-right: 2rem;
}

.inner {
  width: 100%;
  height: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr 0.75fr;
  column-gap: 2rem;
  align-items: center;
}

.profile-pic {
  transition: 0.3s;
  position: relative;
  display: inline-block;
}

.profile-pic:hover .edit_img {
  transition: 0.3s;
  display: block;
}

img {
  transition: 0.3s;
  border-radius: 1rem;
  width: 25vw;
  height: 100%;
}

.profile-pic:hover img {
  transition: 0.3s;
  box-shadow: 0px 8px 16px rgba(120, 98, 188, 0.1);
  border-radius: 1rem;
}

.no_img {
  box-shadow: 0px 8px 16px rgba(120, 98, 188, 0.1);
  border-radius: 1rem;
  width: 25vw;
  height: 300px;
}

.edit_img {
  transition: 0.3s;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

clr-icon {
  height: 1rem;
  width: 1rem;
}

.info {
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #7a7a7a;
}

.value {
  font-size: 1.125rem;
  font-weight: 300;
}

.btn-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  height: 75%;
}

.btn-purple {
  background: #ffffff;
  opacity: 0.48;
  border: 1px solid var(--purple-base);
  box-shadow: 0px 8px 16px rgba(120, 98, 188, 0.2);
  border-radius: 7px;
  height: 2.5rem;
  font-size: initial;
}

.btn-ok {
  background: #ffffff;
  opacity: 0.48;
  border: 1px solid var(--purple-base);
  box-shadow: 0px 8px 16px rgba(120, 98, 188, 0.2);
  border-radius: 7px;
  height: 2.5rem;
  font-size: initial;
}

.btn:hover {
  background: var(--purple-smooth);
}

.btn-cancel {
  color: red;
}

@media (max-width: 1100px) {
  img {
    width: 90%;
    height: 40vh;
  }

  .card {
    align-items: center;
    text-align: center;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .inner {
    grid-template-columns: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .info {
    margin: 1rem;
    text-align: justify;
  }
}

.edit {
  justify-content: center;
  background: var(--purple-base);
  color: #fff;
  box-shadow: 0px 8px 24px rgba(120, 98, 188, 0.16);
  border-radius: 7px;
}

.edit:hover {
  background: var(--purple-smooth);
  color: var(--gray-60);
}

.side {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-evenly;
}

.imageError {
  color: #c21d00;
}

.col {
  display: flex;
  flex-direction: column;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.add {
  white-space: nowrap;
}

input {
  width: 15rem;
}

.modal-dialog {
  background-color: red;
}

#si {
  display: flex;
}

#donateButton {
  justify-content: center;
  background: var(--purple-base);
  color: #fff;
  box-shadow: 0px 8px 24px rgba(120, 98, 188, 0.16);
  border-radius: 7px;
}

#donateButton:hover {
  background: var(--purple-smooth);
  color: var(--gray-60);
}

.popup {
  content: center;
}

.modal_img {
  height: 20rem;
  width: 20rem;
  margin: 0rem;
}

.modal-body {
  align-items: center;
}

.col {
  align-items: center;
}
