<div class="loading" *ngIf="loading">
  <span class="spinner"></span>
</div>
<div *ngIf="!loading && valid" class="container">
  <div class="outer">
    <div
      class="courseimage"
      style="background-image: url('{{ course.img }}')"
    ></div>
    <h4 id="title">{{ course.name }}</h4>
  </div>
  <div class="enroll-alert" *ngIf="user.type == 'IL' && !alreadyEnrolled">
    <div class="alert alert-primary" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">
            You are currently not enrolled in this course.
          </span>
        </div>
      </div>
    </div>
    <div id="enroll-button">
      <button class="btn btn-primary" id="enroll-btn" (click)="enrollHandler()">
        Enroll
      </button>
    </div>
  </div>
  <div
    id="settings-dropdown"
    *ngIf="!!user && course.teachers.includes(user._id)"
  >
    <div class="dropdown" style="float: left">
      <div class="settings-circle">
        <clr-icon shape="cog" size="36"></clr-icon>
      </div>
      <div class="dropdown-content">
        <div (click)="assessmentsHandler()">
          <a>Assessments</a>
        </div>
        <div (click)="editDocumentsHandler()">
          <a>Upload/Edit Documents</a>
        </div>
        <div (click)="updateCourseContentHandler()">
          <a>Update Course Content</a>
        </div>
        <div (click)="studentAnalysisHandler()">
          <a>Student Performance Analysis</a>
        </div>
        <div *ngIf="!surveyRequest">
          <div (click)="openedSurveyRequest = true">
            <a>Request Survey</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="settings-dropdown" *ngIf="user.type == 'IL' && alreadyEnrolled">
    <div class="dropdown" style="float: left">
      <div class="settings-circle">
        <clr-icon shape="cog" size="36"></clr-icon>
      </div>
      <div class="dropdown-content">
        <div (click)="assessmentsHandler()">
          <a>Assessments</a>
        </div>
      </div>
    </div>
  </div>

  <div
    class="body"
    [class]="!!user && course.teachers.includes(user._id) ? 'shift' : ''"
  >
    <div class="left">
      <div class="course-desc">
        <h4>Description</h4>
        <div class="difficulty" [ngSwitch]="course.level">
          <div class="level" id="easy" *ngSwitchCase="'easy'">
            <strong>EASY</strong>
          </div>
          <div class="level" id="difficult" *ngSwitchCase="'difficult'">
            <strong>DIFFICULT</strong>
          </div>
          <div class="level" id="advanced" *ngSwitchCase="'advanced'">
            <strong>ADVANCED</strong>
          </div>
          <div *ngSwitchDefault></div>
        </div>
        <p class="text">{{ course.description }}</p>
      </div>
      <div class="course-rating">
        <h4>Rating</h4>
        <div class="stars-container" *ngIf="this.averageScore; else noRatings">
          <div>
            <clr-icon
              shape="star"
              *ngFor="let star of courseStars"
              [ngClass]="{ 'is-solid': star <= this.averageScore }"
            ></clr-icon>
          </div>
          <div class="big">
            <span
              *ngIf="this.averageScore <= 2"
              [ngStyle]="{ color: '#975454' }"
              >{{ averageScore | number: "1.2-2" }} / 5.00</span
            >
            <span
              *ngIf="this.averageScore > 2 && this.averageScore <= 3.5"
              [ngStyle]="{ color: 'rgb(185, 168, 70)' }"
              >{{ averageScore | number: "1.2-2" }} / 5.00</span
            >
            <span
              *ngIf="this.averageScore > 3.5"
              [ngStyle]="{ color: 'rgb(124, 175, 73)' }"
              >{{ averageScore | number: "1.2-2" }} / 5.00</span
            >
          </div>
        </div>
        <ng-template #noRatings>
          <div class="stars-container">
            <div class="no-ratings">No Ratings Found.</div>
          </div>
        </ng-template>
        <div
          class="enroll-alert"
          *ngIf="user.type == 'IL' && !alreadyEnrolled; else rateBtn"
        >
          <div class="alert alert-warning" role="alert">
            <div class="alert-items">
              <div class="alert-item static">
                <div class="alert-icon-wrapper">
                  <clr-icon
                    class="alert-icon"
                    shape="exclamation-triangle"
                  ></clr-icon>
                </div>
                <span class="alert-text">
                  You must be enrolled to rate this course.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="enroll-alert"
          *ngIf="!!user && course.teachers.includes(user._id)"
        >
          <div class="alert alert-danger" role="alert">
            <div class="alert-items">
              <div class="alert-item static">
                <div class="alert-icon-wrapper">
                  <clr-icon
                    class="alert-icon"
                    shape="exclamation-circle"
                  ></clr-icon>
                </div>
                <span class="alert-text">
                  Teachers cannot rate their own course.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="rate-button" *ngIf="user.type == 'IL' && alreadyEnrolled">
          <button
            class="btn btn-success-outline"
            (click)="openedRateCourse = true"
          >
            Rate this course
          </button>
          <button
            class="btn btn-success-outline"
            id="change"
            (click)="openedAllReviews = true"
          >
            See all Reviews
          </button>
        </div>
      </div>
      <clr-wizard #wizardxl [(clrWizardOpen)]="xlOpen">
        <clr-wizard-title>Course Evaluation</clr-wizard-title>
        <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
        <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
        <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
        <clr-wizard-button [type]="'finish'" (click)="submitSurvey()"
          >Finish</clr-wizard-button
        >
        <clr-wizard-page>
          <ng-template clrPageNavTitle>Question 1</ng-template>
          <ng-template clrPageTitle
            >Please rate from 1-5 how much you agree with the following
            statements (5-Strongly Agree, 1-Strongly Disagree)</ng-template
          >
          <clr-select-container
            *ngFor="let question of surveyQuestions; let i = index"
          >
            <select clrSelect name="answer" [(ngModel)]="surveyAnswer[i]">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <label class="surveyQuestion">{{ question }}</label>
          </clr-select-container>
        </clr-wizard-page>
        <clr-wizard-page>
          <ng-template clrPageTitle
            >For this course, describe the typical course workload in a week
            span</ng-template
          >
          <ng-template clrPageNavTitle>Question 2</ng-template>
          <form clrForm>
            <clr-textarea-container>
              <label class="answerLabel"
                >Please write your response below</label
              >
              <textarea
                clrTextarea
                [(ngModel)]="surveyAnswer[5]"
                name="answer"
              ></textarea>
            </clr-textarea-container>
          </form>
        </clr-wizard-page>
        <clr-wizard-page>
          <ng-template clrPageNavTitle>Question 3</ng-template>
          <ng-template clrPageTitle
            >Would you recommend this course to others? Explain why or why
            not</ng-template
          >
          <form clrForm>
            <clr-textarea-container>
              <label class="answerLabel"
                >Please write your response below</label
              >
              <textarea
                clrTextarea
                [(ngModel)]="surveyAnswer[6]"
                name="answer"
              ></textarea>
            </clr-textarea-container>
          </form>
        </clr-wizard-page>
        <clr-wizard-page>
          <ng-template clrPageNavTitle>Question 4</ng-template>
          <ng-template clrPageTitle
            >Are you more interested in this subject after taking this
            course?</ng-template
          >
          <form clrForm>
            <clr-textarea-container>
              <label class="answerLabel"
                >Please write your response below</label
              >
              <textarea
                clrTextarea
                [(ngModel)]="surveyAnswer[7]"
                name="answer"
              ></textarea>
            </clr-textarea-container>
          </form>
        </clr-wizard-page>
      </clr-wizard>

      <div class="survey">
        <h4 *ngIf="surveyRequest && course.teachers.includes(user._id)">
          <div class="course-desc">
            <h4>Survey</h4>
            <div class="rate-button-2">
              <button
                class="btn btn-success-outline"
                (click)="showSurveys = true"
              >
                Show all survey responses
              </button>
            </div>
          </div>
        </h4>
        <h4 *ngIf="surveyRequest && alreadyEnrolled && !completedSurvey">
          <div class="course-desc">
            <span class="review">
              <h4 [ngStyle]="{ color: 'rgb(169, 51, 51)' }">To Do:</h4>
              <h4 style="padding-left: 5px">Survey</h4>
            </span>
            <div class="rate-button-2">
              <button
                class="btn btn-success-outline"
                (click)="openedSurvey = true"
                (click)="xlOpen = true"
              >
                Complete the Survey
              </button>
            </div>
          </div>
        </h4>
      </div>

      <div class="course-teachers">
        <h4>Instructor<span *ngIf="course.teachers.length > 1">s</span></h4>
        <div
          title="View Profile"
          class="teacher-card box-shadow-1"
          *ngFor="let teacher of course.teachers"
          (click)="goToInstructorProfile(teacher)"
        >
          <div class="teacher-profile"><clr-icon shape="user"></clr-icon></div>
          <h5>{{ teacher }}</h5>
        </div>
      </div>
      <div *ngIf="course.tags != ''">
        <h4>Tags</h4>
        <div class="tags-container">
          <div class="tag" *ngFor="let tag of tags">{{ tag }}</div>
        </div>
      </div>
    </div>

    <!-- COURSE CONTENT HERE -->
    <div class="right">
      <h4>Course Outline</h4>
      <div class="course-content">
        <clr-stack-view>
          <clr-stack-block
            [clrStackViewLevel]="1"
            [clrStackViewSetsize]="3"
            [clrStackViewPosinset]="2"
          >
            <clr-stack-label>Lectures</clr-stack-label>
            <clr-stack-block
              [clrStackViewLevel]="2"
              [clrStackViewSetsize]="3"
              [clrStackViewPosinset]="1"
            >
              <clr-stack-label>Welcome to the Course</clr-stack-label>
            </clr-stack-block>
            <clr-stack-block
              [clrStackViewLevel]="2"
              [clrStackViewSetsize]="3"
              [clrStackViewPosinset]="2"
            >
              <clr-stack-label>Lecture 1: Introduction to Scrum</clr-stack-label>
            </clr-stack-block>
            <clr-stack-block
              [clrStackViewLevel]="2"
              [clrStackViewSetsize]="3"
              [clrStackViewPosinset]="3"
            >
              <clr-stack-label>Lecture 2: Introduction to Scrum pt. 2</clr-stack-label>
            </clr-stack-block>
          </clr-stack-block>

          <clr-stack-block
            [clrStackViewLevel]="1"
            [clrStackViewSetsize]="3"
            [clrStackViewPosinset]="3"
          >
            <clr-stack-label>Extra Reading</clr-stack-label>
            <clr-stack-block>
              <clr-stack-label>Outline 1</clr-stack-label>
            </clr-stack-block>
            <clr-stack-block>
              <clr-stack-label>Outline 2</clr-stack-label>
            </clr-stack-block>
          </clr-stack-block>
        </clr-stack-view>
      </div>
    </div>
  </div>
</div>
<!-- END OF COURSE CONTENT -->

<div class="err" *ngIf="!loading && !valid">
  <div class="inner">
    <h1>404</h1>
    <p>Course Not Found.</p>
  </div>
</div>

<clr-modal [(clrModalOpen)]="openedSurveyRequest" [clrModalClosable]="false">
  <h3 class="modal-title">Confirming Survey to Students</h3>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="openedSurveyRequest = false"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="registerSurveyRequest()"
    >
      Ok
    </button>
  </div>
</clr-modal>

<clr-modal
  [(clrModalOpen)]="openedRateCourse"
  [clrModalSize]="'lg'"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">Rate This Course</h3>
  <div class="modal-body">
    <div id="rating">
      <div class="stars" #reviewStars>
        <clr-icon (click)="setScore(1)" shape="star"></clr-icon>
        <clr-icon (click)="setScore(2)" shape="star"></clr-icon>
        <clr-icon (click)="setScore(3)" shape="star"></clr-icon>
        <clr-icon (click)="setScore(4)" shape="star"></clr-icon>
        <clr-icon (click)="setScore(5)" shape="star"></clr-icon>
      </div>
      <button type="button" class="btn btn-danger" (click)="setScore(0)">
        Reset
      </button>
    </div>
    <form class="clr-form">
      <div class="clr-control-container">
        <textarea
          class="clr-textarea"
          name="courseReview"
          placeholder="Give some details. (Optional)"
          [(ngModel)]="this.courseReview"
        ></textarea>
      </div>
    </form>
    <div class="anon-review">
      <input type="checkbox" clrToggle [(ngModel)]="anon" />
      Anonymous Review
    </div>
  </div>
  <div class="modal-footer">
    <div class="err-message" *ngIf="errorMessage.length">
      {{ errorMessage }}
    </div>
    <div class="btn-container">
      <button
        type="button"
        class="btn btn-outline"
        (click)="openedRateCourse = false"
      >
        Cancel
      </button>
      <button type="button" class="btn btn-primary" (click)="onSubmitReview()">
        Submit
      </button>
    </div>
  </div>
</clr-modal>

<clr-modal
  [(clrModalOpen)]="showSurveys"
  [clrModalSize]="'xl'"
  [clrModalClosable]="false"
  *ngIf="course"
>
  <h3 class="modal-title">All surveys completed for {{ course.name }}</h3>
  <div class="modal-body">
    <table class="table table-noborder">
      <thead>
        <tr>
          <th class="left">Student Name</th>
          <th class="left">
            Describe the typical course workload in a week span
          </th>
          <th class="left">Would you recommend this course to others?</th>
          <th class="left">
            Are you more interested in this subject after taking this course?
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let survey of instructorReview">
          <td class="left">{{ survey._id }}</td>
          <td class="left">{{ survey.surveyAnswers[5] }}</td>
          <td class="left">{{ survey.surveyAnswers[6] }}</td>
          <td class="left">{{ survey.surveyAnswers[7] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="showSurveys = false">
      Done
    </button>
  </div>
</clr-modal>

<clr-modal
  [(clrModalOpen)]="openedAllReviews"
  [clrModalSize]="'xl'"
  [clrModalClosable]="false"
  *ngIf="course"
>
  <h3 class="modal-title">All user reviews for {{ course.name }}</h3>
  <div class="modal-body">
    <li class="box-shadow-2" *ngFor="let review of reviews">
      <span id="left-top-bottom">
        <span class="darker"> Student Name: </span>
        <span class="lighter" *ngIf="!review.anon"> {{ review._id }} </span>
        <span class="lighter" *ngIf="review.anon"> Anonymous </span>
      </span>
      <h3-special
        class="review"
        id="left-top-bottom"
        *ngIf="review.courseReview"
      >
        {{ review.courseReview }}
      </h3-special>
      <div class="stars-container-2" id="left-bottom">
        <div>
          <clr-icon
            shape="star"
            *ngFor="let star of courseStars"
            [ngClass]="{ 'is-solid': star <= review.score }"
          ></clr-icon>
        </div>
        <div class="small">
          <span *ngIf="review.score <= 2" [ngStyle]="{ color: '#975454' }"
            >{{ review.score }} / 5.00</span
          >
          <span
            *ngIf="review.score > 2 && review.score <= 3.5"
            [ngStyle]="{ color: 'rgb(185, 168, 70)' }"
            >{{ review.score }} / 5.00</span
          >
          <span
            *ngIf="review.score > 3.5"
            [ngStyle]="{ color: 'rgb(124, 175, 73)' }"
            >{{ review.score }} / 5.00</span
          >
        </div>
      </div>
    </li>
  </div>
  <div class="modal-footer">
    <!-- <div class="err-message" *ngIf="errorMessage.length">
      {{ errorMessage }}
    </div> -->
    <div class="btn-container">
      <button
        type="button"
        class="btn btn-outline"
        (click)="openedAllReviews = false"
      >
        Cancel
      </button>
    </div>
  </div>
</clr-modal>

<clr-modal
  [(clrModalOpen)]="openedUpdateCourse"
  [clrModalSize]="'lg'"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">Update This Course</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-control-error>{{ error }}</clr-control-error>
      <ngx-file-drop
        dropZoneLabel="Drop files here"
        (onFileDrop)="droppedCourseImage($event)"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
      >
        <ng-template
          ngx-file-drop-content-tmp
          let-openFileSelector="openFileSelector"
        >
          <label>Upload Course Image (.jpg and .png)</label>
          <button class="btn btn-primary" (click)="openFileSelector()">
            Browse Files
          </button>
        </ng-template>
      </ngx-file-drop>
      <div class="imageError">
        <clr-control-error>{{ imageError }}</clr-control-error>
      </div>
      <div class="uploadedImage" *ngIf="img[0]">
        Uploaded "{{ img[0].fileEntry.name }}"
      </div>
      <clr-input-container>
        <label
          >Course Description
          <input
            clrInput
            type="text"
            placeholder=""
            [(ngModel)]="description"
            name="description"
            required
          />
        </label>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      <clr-radio-container>
        <label>Difficulty</label>
        <clr-radio-wrapper>
          <input
            type="radio"
            clrRadio
            name="easy"
            required
            value="easy"
            [(ngModel)]="level"
          />
          <label class="rlabel">Easy</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input
            type="radio"
            clrRadio
            name="difficult"
            required
            value="difficult"
            [(ngModel)]="level"
          />
          <label class="rlabel">Difficult</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input
            type="radio"
            clrRadio
            name="advanced"
            required
            value="advanced"
            [(ngModel)]="level"
          />
          <label class="rlabel">Advanced</label>
        </clr-radio-wrapper>
        <clr-control-error>Please pick a difficulty level!</clr-control-error>
      </clr-radio-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="registerHandler()">
      Update Course
    </button>
  </div>
</clr-modal>
