.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

h3 {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.courseimage {
  height: 20rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  filter: blur(3px) brightness(0.9);
}

.outer {
  height: 20rem;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

h3 {
  padding-left: 1rem;
  padding-bottom: 2rem;
  font-size: 1rem;
}

.text {
  padding-left: 1rem;
  font-size: 1rem;
  margin-top: 0;
}

#title {
  font-size: 4rem;
  color: white;
  margin-top: 0rem;
  transform: translateY(-12rem);
  display: flex;
  justify-content: center;
  text-shadow: 0px 0px 2px var(--gray80);
}

.btn.btn-primary {
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
}

.btn.btn-secondary {
  font-size: 1rem;
  transform: translate(0%, 45%);
  width: 7rem;
  height: 3rem;

  border-radius: 10px;
  margin: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}


.btn.btn-primary:hover {
  background-color: var(--purple-smooth);
  color: black;
}

.btn.btn-secondary:hover {
  background-color: var(--purple-smooth);
  color: black;
}
#settings-dropdown {
  transform: translateY(-17.5rem);
}

.dropdown .settings-circle {
  background-color: var(--clr-global-app-background);
  border-bottom-right-radius: 37.5%;
  border-top-right-radius: 37.5%;
  padding: 1rem;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: var(--gray20);
  min-width: 180px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
  cursor: pointer;
}

.err {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner > p {
  font-size: 1.25rem;
}

.inner > h1 {
  margin: 0;
}

.err .inner {
  /* White Base */
  background: var(--red-smooth);
  /* Shadow Black Dark */
  box-shadow: 0px 8px 24px #eff3f9;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}

.body {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.teacher-card > h5 {
  font-size: 1.25rem;
  margin: 0;
}

.teacher-profile clr-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.teacher-profile {
  border-radius: 100%;
  color: var(--purple-base);
  background-color: var(--gray20);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teacher-card {
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 20rem;
  column-gap: 0.5rem;
  background: #fff;
  height: 4rem;
  padding: 1rem;
  border-radius: 10px;
}

.teacher-card:hover {
  cursor: pointer;
  background-color: var(--gray20);
}

.shift {
  transform: translateX(-4.5rem);
}

.modal-title {
  margin-top: 1rem;
  font-size: 1.75rem;
  color: #a78ec3;
} 

input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  min-height: 2rem;
  font-size: 0.8rem;
}

.clr-control-label {  
  font-size: 1rem;
}

label {
  display: flex;
  text-align: left;
  margin: 10px;
  min-width: 30rem;
  flex-direction: column;
}

.rlabel {
    font-size: 0.75rem;
}