<div class="profile-container">
  <h2>Profile</h2>
  <div class="inner">
      <div id="image">
          <img src="../../../../assets/THS.png" width="400" alt="" />
      </div>
    <div class="info">
      <div>
        Registered Name: <span class="value">{{user._id}}</span>
      </div>
      <div>
        Business Number: <span class="value">18002672001</span>
      </div>
      <div>
        Location: <span class="value">11 River Street, Toronto, ON , M5A 4C2</span>
      </div>
      <div>
        Hours: <span class="value">Mon to Fri 11am - 6pm</span>
      </div>
      <div>
        Phone: <span class="value">416.392.2273</span>
      </div>
      <div>
        Email: <span class="value">{{user.email}}</span>
      </div>
    </div>
    <div class="btn-container">
      <button class="btn">Visit Our Website</button>
      <button class="btn">Email Us</button>
      <button class="btn">Donate Now</button>
    </div>
  </div>
  <!-- Here should go the Tabs Container as shown in the mockup -->
</div>
