h2 {
  line-height: initial;
  font-size: 2rem;
}

.inner {
    width: 90%;
    height: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr 0.75fr;
    column-gap: 1rem;
    align-items: center;
}

#image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
font-weight: 600;
font-size: 20px;
line-height: 34px;
display: flex;
justify-content: center;
flex-direction: column;

/* Gray 70% */
color: #7A7A7A;
}

.value {
    font-size: 1.125rem;
    font-weight: 300;
}

.btn-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 75%;
}

.btn {
/* White Base */
background: #FFFFFF;
opacity: 0.48;
/*  Purple Base */
border: 1px solid var(--purple-base);
/* Shadow Dark · 8dp */
box-shadow: 0px 8px 16px rgba(120, 98, 188, 0.2);
border-radius: 7px;

height: 2.5rem;
font-size: initial;
}

.btn:hover{
    background: var(--purple-smooth);
}


@media (max-width: 1100px) {
    .inner {
        grid-template-columns: auto;
        justify-content: center;
        width: 100%;
    }

    .info {
        text-align: justify;
    }

    .btn-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
