<div class="container">
  <button type="button" id="back-button" class="btn button" (click)="back()">
    Back
  </button>

  <h4 id="title1"> {{ submissionName }} </h4>

  <div *ngIf="pdfView">

    <h6 id="title2"> <a download=" {{ submissionName }}" href="{{ viewSubmission }}"> Download here </a>.</h6>

    <div class="pdf-container">
      <pdf-viewer
        [src]="viewSubmission"
        [render-text]="true"
        style="display: block"
      ></pdf-viewer>
    </div>
  </div>

  <div *ngIf="docxView">
    <h6 id="title2"> No preview available. <a download=" {{ submissionName }}" href="{{ viewSubmission }}"> Download here </a>.</h6>
  </div>

  <div *ngIf="pngView">
    <h6 id="title2"> No preview available. <a download=" {{ submissionName }}" href="{{ viewSubmission }}"> Download here </a>.</h6>
  </div>
  

</div>
