.page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Image {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

#image {
  width: inherit;
  height: inherit;
}

.clr-form-control {
  height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.clr-control-label {
  font-size: 0.8rem;
}

.clr-checkbox-wrapper {
  padding-top: 1rem;
}

#label1,
#label2,
#label3 {
  font-size: 1rem;
  padding-top: 2rem;
}

#Header {
  font-size: 2rem;
}

.ConnectOne,
.ConnectTwo,
.ConnectThree {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  padding-bottom: 1rem;
  padding-top: 1rem;
  height: 2rem;
}

.buttonsflex {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.skipbutton {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.skipbutton:hover {
  cursor: pointer;
}

.submitbutton {
  padding-right: 2rem;
}

.LineOne,
.LineTwo,
.LineThree {
  flex: 1;
  display: flex;
  padding-bottom: 0.75rem;
  padding-left: 0.5rem;
}

@media only screen and (max-width: 1000px) {
  .page {
    flex-direction: column;
    justify-content: center;
  }
  #Header {
    align-items: center;
  }

  #image,
  .Image,
  .imageTemp {
    display: none;
  }

  .clr-form-control {
    width: 100%;
  }
}
