.main-container {
  margin: 0 2rem;
  height: min(50vh, 50rem);
  /* White Base */
  background: #ffffff;
  /* Shadow Black Dark */
  box-shadow: 0px 8px 24px #eff3f9;
  border-radius: 25px;
}

.err {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner > p {
  font-size: 1.25rem;
}

.inner > h1 {
    margin: 0;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.err .inner {
  /* White Base */
  background: var(--red-smooth);
  /* Shadow Black Dark */
  box-shadow: 0px 8px 24px #eff3f9;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}

#si {
  display: flex;
  padding-left:2rem;
}

.spacer {
  flex: 1 1 auto;
}

app-si-profile {
  width: 100%;
}