<div class="loading" *ngIf="loading">
  <span class="spinner"></span>
</div>
<div *ngIf="!loading">
  <div class="err" *ngIf="!!err; else profile">
    <!-- 404 -->
    <div class="inner">
      <h1>404</h1>
      <p>User Not Found.</p>
    </div>
  </div>
  <ng-template #profile>
    <app-ic-il-profile
      *ngIf="user.type !== 'SI'"
      [user]="user"
      [sameUser]="sameUser"
    ></app-ic-il-profile>
    <div id="si">
      <div class="spacer"></div>
      <app-si-profile
        *ngIf="user.type === 'SI'"
        [searchedUser]="user"
        [sameUser]="sameUser"
      ></app-si-profile>
      <div class="spacer"></div>
    </div>
  </ng-template>
</div>
