<div class="container">
  <div class="top">
    <button type="button" id="back-button" class="btn button" (click)="back()">
      Back
    </button>
  </div>

  <div id="divChart">
    <canvas id="myChart"></canvas>
  </div>

  <!--
  <div class="viewButtons">
    <button type="button" id="overview-view" class="graph-button">
      Overview
    </button>
    <button type="button" id="student-view" class="graph-button">
      Student View
    </button>
    <button type="button" id="assessment-view" class="graph-button">
      Assessment View
    </button>
  </div>

  <div class="targetButtonsView">
    <div *ngFor="let target of targets" class="target-Btns">
      <button class="target-Btn">
        {{ target }}
      </button>
    </div>
  </div>
  -->
</div>
