<div class="about-container">
  <div class="intro-container">
    <div class="left">
      <h5>The learning platform for social entrepreneurs and intrapreneurs.</h5>
      <div class="button-container">
        <button class="btn btn-primary" (click)="onPress()">Get Started</button>
      </div>
    </div>
    <div class="right">
      <img src="../../../../assets/home-pages/imac.svg" alt="imac" />
    </div>
  </div>
  <div class="info-container">
      <p>Helping impact specialists create their best learning modules around social entrepreneurship and 21st-century skills. Support group of social ventures and intrapreneurs curated and gamified to grow and thrive.</p>
  </div>
  <div class="what-container">
      <div class="what-card">
          <h5>Learn</h5>
          <img src="../../../../assets/home-pages/533.svg" alt="">
          <p>Resources consisting of coaching, online communities and offline meetups</p>
      </div>
      <div class="what-card">
          <h5>Grow</h5>
          <img src="../../../../assets/home-pages/535.svg" alt="">
          <p>Specialized in social entrepreneurship, non-profits, charities, and sustainability movements</p>
      </div>
       <div class="what-card">
          <h5>Give</h5>
          <img src="../../../../assets/home-pages/534.svg" alt="">
          <p>Donate to the charities of your choice with the Giving Garden.</p>
      </div>
  </div>
</div>
