<div class="flexbot">
  <h1 class="title">
    <span>{{ course.name }}</span>
  </h1>

  <!-- <div class="courseimage"style="background-image: url('{{ course.img }}')"></div>
    <h4 id="title">{{ course.name }}</h4>
  </div> -->

  <div *ngIf="openModal == true">
    <clr-modal
      [(clrModalOpen)]="basic"
      [clrModalSize]="'lg'"
      [clrModalClosable]="false"
    >
      <h3 class="modal-title">Create an assignment</h3>
      <div class="modal-body">
        <form clrForm>
          <clr-control-error>{{ error }}</clr-control-error>

          <clr-input-container>
            <label
              >Assessment name
              <input
                clrInput
                type="text"
                [(ngModel)]="name"
                name="name"
                required
              />
            </label>
            <clr-control-error>This field is required!</clr-control-error>
          </clr-input-container>

          <clr-radio-container>
            <label>Visibliity</label>
            <clr-radio-wrapper>
              <input
                type="radio"
                clrRadio
                name="true"
                required
                value="true"
                [(ngModel)]="visibility"
              />
              <label class="rlabel">True</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
              <input
                type="radio"
                clrRadio
                name="false"
                required
                value="false"
                [(ngModel)]="visibility"
              />
              <label class="rlabel">False</label>
            </clr-radio-wrapper>

            <clr-control-error
              >Please choose whether or not you want it to be
              seen!</clr-control-error
            >
          </clr-radio-container>

          <ngx-file-drop
            dropZoneLabel="Drop files here"
            (onFileDrop)="dropped($event)"
            (onFileOver)="fileOver($event)"
            (onFileLeave)="fileLeave($event)"
          >
            <ng-template
              ngx-file-drop-content-tmp
              let-openFileSelector="openFileSelector"
            >
              <label>Upload Assignment Files</label>
              <button class="btn btn-primary" (click)="openFileSelector()">
                Browse Files
              </button>

              <!-- <button type="button" (click)="openFileSelector()">Browse Files</button> -->
            </ng-template>
          </ngx-file-drop>
          <div class="upload-table">
            <table class="table">
              <thead>
                <tr>
                  <th>Name of file(s) uploaded:</th>
                </tr>
              </thead>
              <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i = index">
                  <td>
                    <strong>{{ item.relativePath }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline"
          (click)="openModal = false"
          (click)="cancel()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="registerHandler()"
          (click)="openModal = false"
        >
          Create Assessment
        </button>
      </div>
    </clr-modal>
  </div>

  <div>
    <div class="btn-container">
      <button class="createNew edit" (click)="openModal = true">
        Create new assessment!
      </button>
    </div>

    <clr-datagrid id="table">
      <clr-dg-column class="widthMain"
        ><div id="header">Name</div></clr-dg-column
      >
      <clr-dg-column class="widthMain"
        ><div id="header">Assessment</div></clr-dg-column
      >
      <clr-dg-column class="widthSmaller"
        ><div id="header">Visibility</div></clr-dg-column
      >
      <clr-dg-column class="widthSmaller"
        ><div id="header">Submissions</div></clr-dg-column
      >

      <clr-dg-row *ngFor="let assess of assessArr" [clrDgItem]="currUser">
        <!-- <clr-dg-action-overflow>
          <button class="action-item" (click)="onEdit(assess)">Edit</button>
          <button class="action-item" (click)="onDelete(assess)">Delete</button>
        </clr-dg-action-overflow> -->

        <clr-dg-cell class="text widthColumn"> {{ assess.name }} </clr-dg-cell>

        <clr-dg-cell class="widthColumn files">
          <!-- id="fileStore" -->
          <div class="row" *ngFor="let file of files">
            {{ file.relativePath }}
          </div>
        </clr-dg-cell>

        <!-- <clr-dg-cell>{{ assess.visibility }}</clr-dg-cell> -->

        <clr-dg-cell
          *ngIf="assess.visibility == 'true'"
          class="display widthColumnSmall"
        >
          <clr-icon shape="check" class="checkmark"></clr-icon>
          <div class="text"></div>
        </clr-dg-cell>

        <clr-dg-cell
          *ngIf="assess.visibility == 'false'"
          class="display widthColumnSmall"
          ><clr-icon shape="times" class="wrong"></clr-icon>
          <div class="text"></div>
        </clr-dg-cell>

        <clr-dg-cell class="text widthColumnSmall"
          ><clr-icon shape="view-list" id="submissionsTab"></clr-icon>
        </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>
