<div class="flexbox-container">
  <div class="alignTop">
    <div class="together">
      <img src="../../../assets/uLogo.svg" width="77" height="79" />

      <div class="info" id="side">
        <button class="btn btn-link">(email address)</button>
        <button class="btn btn-link">(phone number)</button>
        <button class="btn btn-link">(address)</button>
      </div>
    </div>
  </div>

  <div class="alignTop">
    <div class="product">
      <h3>Product</h3>
      <button class="btn btn-link">Help Center</button>
      <button class="btn btn-link">Platform</button>
      <button class="btn btn-link">Accessibility</button>
      <button class="btn btn-link">Terms of Use</button>
      <button class="btn btn-link">Privacy Policy</button>
    </div>
  </div>
  <div class="alignTop">
    <div class="product">
      <h3>Use Cases</h3>
      <button class="btn btn-link">Non-Profits</button>
      <button class="btn btn-link">Governments</button>
      <button class="btn btn-link">Social Enterprises</button>
      <button class="btn btn-link">Charities</button>
    </div>
  </div>
  <div class="alignTop">
    <div class="product">
      <h3>About</h3>
      <button class="btn btn-link">About Us</button>
      <button class="btn btn-link">Contact Us</button>
      <button class="btn btn-link">Blog</button>
      <button class="btn btn-link">FAQ</button>
    </div>
  </div>
  <div class="alignTop">
    <div class="follow">
      <h3>Follow us</h3>
      <div class="imgg">
        <img src="../../../assets/twitter.png" width="30.8" height="30.8" />
        <img src="../../../assets/instagram.png" width="50.6" height="50.6" />
        <img src="../../../assets/indeed.png" width="30.6" height="30.6" />
      </div>
    </div>
  </div>
</div>
