.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

video {
  border-radius: 1rem;
  user-select: none;
  border-width: 0px;
  height: 70vh;
}

.video-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  /* Shadow Dark · 16dp */
  box-shadow: 0px 4px 12px rgba(120, 98, 188, 0.16);

  border-radius: 7px;
  border: 0;
  font-size: 1rem;
  width: 5rem;
  height: 2.5rem;
  /* White Base */
  color: #ffffff;
}

#back-button {
  width: 5rem;
  background-color: var(--purple-base);
  margin-bottom: 1rem;
}
