.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

video{
  border-radius: 1rem;
  user-select: none;
  border-width: 0px;
  height: 70vh;
}

.video-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}