<p>login-signup works!</p>

<form>
  <h3>Create an Account</h3>
  <label>
    email:
    <input placeholder="email" />
  </label>
  <label>
    username:
    <input placeholder="username" />
  </label>
  <label>
    password:
    <input placeholder="password" />
  </label>

  Please select your role below:
  <div className="align-row">
      <button>Student</button>
      <button>Instructor</button>
      <button>Social Intiative</button>
  </div>

  <div className="align-row">
       Already have an account? <a href="#">Login</a>
  </div>
 
  <button>SIGN UP</button>
</form>
