<div class="container">
  <div class="side-img"></div>

  <div >
    <form clrForm>
      <h3>Create an Account</h3>
      <clr-input-container>
        <label>
          email:
          <input clrInput type="text" [(ngModel)]="email" name="email" />
        </label>
      </clr-input-container>
      <clr-input-container>
        <label>
          username:
          <input clrInput type="text" [(ngModel)]="username" name="username" />
        </label>
      </clr-input-container>
      <clr-input-container>
        <label>
          password:
          <input clrInput type="text" [(ngModel)]="password" name="password" />
        </label>
      </clr-input-container>

      Please select your role below:
      <div class="align-row">
        <button class="btn btn-outline">Student</button>
        <button class="btn btn-outline">Instructor</button>
        <button class="btn btn-outline">Social Intiative</button>
      </div>

      <div class="align-row">
        Already have an account? <a href="#">Login</a>
      </div>

      <button class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>
