<div class="container">
  <div class="side-img"></div>

  <div >
    <form>
      <h3>{{form.greeting}}</h3>
      <label>
        email:
        <input placeholder="email" />
      </label>
      <label>
        username:
        <input placeholder="username" />
      </label>
      <label>
        password:
        <input placeholder="password" />
      </label>

      Please select your role below:
      <div class="align-row">
        <button>Student</button>
        <button>Instructor</button>
        <button>Social Intiative</button>
      </div>

      <div class="align-row">
        {{form.linkPrompt}} <a href="#">{{form.link}}</a>
      </div>

      <button>SIGN UP</button>
    </form>
  </div>
</div>
