<div class="events-container">
    <h2>Upcoming Events</h2>
    <div class="inner">
        <!-- This is just a dummy, maybe later on we can add a real calendar -->
        <img src="../../../../assets/Calendar.svg" id="calendar" alt="">
        <div class="dates">
            <h6>Today</h6>
            <div class="event main">Live Q&A w/Students</div>
            <div class="event sub">Weekly Giving Garden Donation</div>
            <h6>Tomorrow</h6>
            <p class="no-event">No Event</p>
        </div>
    </div>
</div>