h2 {
  line-height: initial;
  font-size: 2rem;
}

.inner {
  width: min(75rem, 90%);

  margin-top: 1.5rem;

  display: flex;
  align-items: center;
  padding: 1rem;

  /* White Base */
  background: #ffffff;
  /* White Base */
  border: 1px solid #ffffff;
  box-sizing: border-box;
  /* Shadow Dark · 8dp */
  box-shadow: 0px 8px 16px rgba(120, 98, 188, 0.2);
  border-radius: 35px;
}


.dates {
  height: 100%;
  padding: 0.5rem;
  width: calc(100% - 25rem);
}

.dates h6 {
  margin-bottom: 2rem;
}

@media (max-width: 1000px) {
  .inner {
    flex-direction: column;
    height: min(65rem, 100vw);
  }

  .dates {
    width: 100%;
  }

  #calendar {
    width: 80%;
  }
}

.no-event {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  font-size: 20px;

  color: var(--gray40);
}

.main {

  background: rgba(255, 151, 156, 0.9);
  border: 3px solid rgba(255, 151, 156, 0.95);

  /* White Base */
  color: #ffffff;
}

.sub {
  /* Gray · 60% */
  border: 1px solid #919699;

  /* Gray · 80% */
  color: #5e6366;
}

.event {
  margin-top: 1rem;
  padding-left: 1rem;

  width: min(100%, 30rem);
  height: 47px;

  /* Shadow Dark · 8dp */
  filter: drop-shadow(0px 8px 16px rgba(120, 98, 188, 0.2));

  display: flex;
  align-items: center;

  border-radius: 13px;


  /* 16 sp • Subtitle • App */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1px;
}
